
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family:Arial, Helvetica, sans-serif;
  
  
}
body {
  background-color: #507DBC  ;
}
header {
  display: flex;
  justify-content: space-between;
  color: black;
}

h2 {
  word-break: break-all;
  width: 100%;
  font-weight: normal;
}
select {
  width: 25%;
  border: none;
  box-shadow: 0 3px 10px rgb(0 0 0 / 0.2);
  background-color: white;
  padding: 5px;
 
}
select option {
  background-color: white;
}



.container {
  width: 550px;
  margin: 50px auto;
  padding: 30px;
  border: 5px solid #04080F;
  color: black;
  box-shadow: 0 3px 10px rgb(0 0 0 / 0.4);
  background-color:#A1C6EA;
  
}
.input {
  padding-top: 20px;
  display: flex;
  justify-content:space-evenly;
  margin-bottom:20px;
  flex-direction: column;
  

  
}
.input__button {
  background-color: #04080F;
  border: none;
  color: white;
  padding: 12px;
  text-align: center;
  text-decoration: none;

  font-size: 15px;
  font-weight: bold;
  cursor: pointer;
  
 
}

.input__button:active {
  transform: scale(0.99);
}
.input__text {
  padding: 12px;
  font-size: 20px;
  
  
}

.todo {
  display: flex;
  justify-content: space-between;
  border-bottom: 1px solid black ;
  padding: 15px 10px;
  margin-bottom: 10px;
  cursor: pointer;
  background-color: #DAE3E5 ;
  
  font-size: 12px;
  border-left:7px solid red; 
}

.trash {
  color: grey;
  cursor: pointer;
  font-size: 20px;

}
.trash:hover {
  color: red;
}

.todo-completed {
  text-decoration: line-through;
  border-left: 7px solid #7FFF00;
}

.error-msg {
  color: red;
}
