@import url('https://fonts.googleapis.com/css?family=Roboto');
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: 'Roboto', sans-serif;
  
  
}
body {
  background-color: #d3d3d3 ;
}


.container {
  width: 400px;
  margin: 50px auto;
  padding: 30px;
  border: 5px solid black;
}
.input {
  padding-top: 20px;
  display: flex;
  justify-content:space-evenly;
  margin-bottom:20px;

  
}
.input__button {
  display: inline-block;
  border-style: none;
  cursor: pointer;
  background: green;
  color: #fff;
  font-size: 15px;
  font-family: inherit;
  padding: 8px 5px;
  text-decoration: none;
  border-radius: 5px;
 
}

.input__button:active {
  transform: scale(0.99);
}
.input__text {
  width: 80%;
  
  padding: 10px;
  
}
.todo {
  display: flex;
  justify-content: space-between;
  
  border-bottom: 1px solid black ;
  padding: 10px 20px;
  margin-bottom: 10px;
  cursor: pointer;
  background-color:whitesmoke;
  outline-style: none;
  font-size: 11px;
  border-left:5px solid red; 
  

  
  
  
  
}
p {
  word-break: break-all;
}
.trash {
  color: red;
  cursor: pointer;
  

}
.trash:hover {
  color: black;
}

.todo-completed {
  text-decoration: line-through;
  border-left: 5px solid green;
}
